// Base class
.boden-toggle {
    position: relative;
    width: 60px;
    margin: 40px auto;
    .well {
      display: block;
      background: #eee;
      height: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
    .toggle {
      opacity: 0;
      border: 0;
      outline: none;
      height: 100%;
      width: 100%;
      background: transparent;
      position: absolute;
      cursor: pointer;
      z-index: 100; 
      ~.emoji:before {
        content: "\1F1FA\1F1F8"; 
        position: absolute;
        left: 0;
        top: -15px;
        font-size: 40px;
        transition: 0.2s;
      }
      &:checked {
        ~.emoji:before {
          left: 100%;
          margin-left: -1em;
        }
      }
      ~label {
        white-space: nowrap;
        &:before {
          position: absolute;
          right: 100%;
          margin-right: 5px;
          top: 0;
        }
        &:after {
          position: absolute;
          left: 100%;
          margin-left: 5px; 
          top: 0;
        }
      }
    }
  }
  
  @mixin emojiType($leftEmoji, $rightEmoji) {
    .toggle {
      ~.emoji:before {
        content: $leftEmoji;
      }
      &:checked {
        ~.emoji:before {
          content: $rightEmoji;
        }
      }
    }
  }
  
  .ice-cream {
    @include emojiType(
      "\1F1FA\1F1F8", "\1F366"
    );
  }